<section class="padded bg-light bg-image">
    <h2 class=center>Öffnungszeiten für Büro und Abholrampe</h2>
    <div class="center sm-hide">
      <p>Montag bis Donnerstag: 07:30 - 12:00 und 13:30 - 16:30 Uhr</p>
      <p>Freitag: 07:30 - 12:00 und 13:30 - 15:30 Uhr</p>
    </div>

    <!-- mobile banner -->
    <div class="center sm-show">
      <p class="sm-margin-t">Montag bis Donnerstag:</p>
      <p>07:30 - 12:00 und 13:30 - 16:30 Uhr</p>
      <br>
      <p>Freitag:</p>
      <p> 07:30 - 12:00 und 13:30 - 15:30 Uhr</p>
    </div>
   </section>

