<footer class="grid vh50 bg-dark light-text padded">
    <div class="col-5_xs-12">
        <h2>Öffnungszeiten für Büro und Abholrampe</h2>
        <p>Montag bis Donnerstag: 
            <br>07:30 - 12:00 und 13:30 - 16:30 Uhr</p>
        <p>Freitag: <br>07:30 - 12:00 und 13:30 - 15:30 Uhr</p>
    </div>

    <div class="col-2_xs-12">
        <!-- <div class="bg-image portrait" style="background-image: url('/images/logo-weiss.png');"></div> -->
        <img src="/images/logo-weiss.png" alt="Kaspar Fuchs Logo in Weiss">
    </div>
    <div class="col-5_xs-12 right">
        <h2>Kaspar Fuchs GmbH</h2>
        <p>Getränkefachhandel · Kaffeeimport · Rösterei</p>
        <p>Wörgler Boden 22 <br> A-6300 Wörgl</p>
        <a href="mailto:info@getranke-fuchs.at" class="block">info@getraenke-fuchs.at</a>
        <a href="tel:+43533272254" class="block">+43 5332 72254</a>
    </div>
    
        <!-- social links &#-->

    <div class="col-6">
        <a href="https://www.onememorydesign.com/" class="copyright">© 2024 OnememoryDesign.</a>
    </div>
    <div class="col-6-bottom right">
        <a href="#">Impressum</a> |
        <a href="">Datenschutz</a>
    </div>

</footer>