<footer class="grid vh50 bg-dark light-text padded">
    <div class="col-7_xs-12">
        <h2>Kaspar Fuchs GmbH</h2>
        <p>Getränkefachhandel · Kaffeeimport · Rösterei</p>
        <p>Wörgler Boden 22 <br> A-6300 Wörgl</p>
        <a href="mailto:info@getranke-fuchs.at" class="block">info@getraenke-fuchs.at</a>
        <a href="tel:+43533272254" class="block">+43 5332 72254</a>
    </div>
    <div class="col-5_xs-12">
        <img src="/images/logo-weiss.png" alt="Kaspar Fuchs Logo in Weiss">
        <!-- social links -->
    </div>
    <div class="col-6">
        <p class="copyright">© 2024 OnememoryDesign.</p>
    </div>
    <div class="col-6 right">
        <a href="#">Impressum</a> |
        <a href="">Datenschutz</a>
    </div>
</footer>