<footer class="grid vh50 bg-dark light-text padded">
    <div class="col-6_md-12 img-padding md-padded-0 md-center">
        <h2>Öffnungszeiten für Büro und Abholrampe</h2>
        <p>Montag bis Donnerstag: 
            <br>07:30 - 12:00 und 13:30 - 16:30 Uhr</p>
        <p>Freitag: <br>07:30 - 12:00 und 13:30 - 15:30 Uhr</p>
    </div>

    <div class="col-6_md-12 right md-center md-padded-t">
        <img src="/images/logo-weiss.png" alt="Kaspar Fuchs Logo in Weiss" style="height: 6rem; margin-bottom: 1rem;">
        <h2>Kaspar Fuchs GmbH </h2>
        <p>Getränkefachhandel · Kaffeeimport · Rösterei</p>
        <p>Wörgler Boden 22 <br> A-6300 Wörgl</p>
        <p>E-Mail:<a href="mailto:info@getranke-fuchs.at">info@getraenke-fuchs.at</a></p>
        <p>Tel:<a href="tel:+43533272254">+43 5332 72254</a></p>
    </div>
    
        <!-- social links &#-->

    <div class="col-6 padded-t">
        <a href="https://www.onememorydesign.com/" class="copyright">© 2024 OnememoryDesign.</a>
    </div>
    <div class="col-6-bottom right">
        <a href="#" class="subtitle">Impressum</a> |
        <a href="" class="subtitle">Datenschutz</a>
    </div>

</footer>